@charset "utf-8";
/* CSS Document */
body {
  margin: 0px;
  padding: 0;
  font-size: 12px;
  list-style: none;
  color: #666;
  font-family:"微软雅黑" sans-serif;
  background: #FFF;}
  h1, h2, h3, h4, ul, ol, li, dl, dd, dt, p, form, input, select, label, div {
  margin: 0px;
  padding: 0;
  font-size: 12px;
  list-style: none;
  color: #666;
}
a{text-decoration:none;}
.clear:after{   content:"";/*里面可以为空、内容的意思*/
				visibility:hidden; /*隐藏*/
				height:0;
				display:block;
				clear:both;
				overflow:hidden;
}
.clear{zoom:1;/*这个转为解决IE6的bug的*/}
.clearfix{clear:both;height:0;overflow:hidden;}